body {
  margin: 0;
  padding: 0;
}

.content {
  margin: auto;
  width: 1200px;
}

/**************************************************************************************************
* header 
**************************************************************************************************/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  height: 74px;
  background-color: #00000000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .site-title {
  font-family: "Roboto";
  margin-left: 120px;
  font-size: 26px;
  font-weight: 600;
  margin-right: auto;
  color: white;
}

@media screen and (max-width: 768px) {
  header .site-title {
    margin-left: 15px;
  }
}

header #hamburger .nav-btn {
  display: none;
}

header #hamburger #nav .navigation-group {
  padding: 0px;
}

header #hamburger #nav .navigation-group .navigation-item {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

header #hamburger #nav .navigation-group .navigation-item:last-child {
  margin-right: 120px;
}

header #hamburger #nav .navigation-group .navigation-item a {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  header #hamburger .nav-btn {
    display: block;
    position: fixed;
    top: 10px;
    right: 30px;
    width: 30px;
    height: 24px;
    z-index: 3;
  }
  header #hamburger .nav-btn span {
    position: absolute;
    width: 100%;
    height: 4px;
    background: white;
    border-radius: 10px;
    -webkit-transition: all 400ms;
    transition: all 400ms;
  }
  header #hamburger .nav-btn span:nth-child(1) {
    top: 0;
  }
  header #hamburger .nav-btn span:nth-child(2) {
    top: 10px;
  }
  header #hamburger .nav-btn span:nth-child(3) {
    top: 20px;
  }
  header #hamburger .nav-btn.open span:nth-of-type(1) {
    top: 16px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  header #hamburger .nav-btn.open span:nth-of-type(2), header #hamburger .nav-btn.open span:nth-of-type(3) {
    top: 16px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  header #hamburger #nav {
    position: fixed;
    background-color: #1B1310;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  header #hamburger #nav.open {
    right: 0px;
  }
  header #hamburger #nav .navigation-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px;
    height: 100%;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header #hamburger #nav .navigation-group .navigation-item {
    width: 100%;
    margin-right: 0px;
    padding-bottom: 75px;
    list-style: none;
  }
  header #hamburger #nav .navigation-group .navigation-item:last-child {
    margin-right: 0px;
    padding-bottom: 0px;
  }
  header #hamburger #nav .navigation-group .navigation-item a {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 600;
    color: white;
    text-decoration: none;
  }
}

/**************************************************************************************************
* FV
**************************************************************************************************/
#fv {
  display: block;
  width: 100%;
  height: 740px;
  background-image: url("../img/fv-bgi_01@2x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#fv .fv-title {
  padding-top: 430px;
  font-family: 'Noto Serif JP', sans-serif;
  color: white;
  font-size: 72px;
  font-weight: bold;
}

#fv .fv-message {
  padding: 30px 40px;
  font-family: 'Noto Serif JP', sans-serif;
  color: white;
  font-size: 35px;
  font-weight: 300;
}
/*# sourceMappingURL=style.css.map */